.header {
  border-bottom: 1px solid rgb(51, 48, 48);
  box-shadow: inset 0px 2px 10px rgba(22, 20, 6, 0.815);
}

.headerContainer {
  /* @apply flex items-center justify-between; */
}

.logo {
  /* @apply text-4xl font-black text-gray-800 hover:text-gray-600 focus:text-gray-600 transition-colors; */
}

.navbar {
  /* @apply lg:text-lg; */
}

.navList {
  display: flex;
  gap: 25px;
  padding: 30px;
}

.navLink {
  text-transform: uppercase;
  padding: 8px 16px;

  text-decoration: none;
  color: black;
  font-weight: 500;
}

.activeLink {
  color: rgb(236, 241, 183);
  border-bottom: 3px solid rgb(93, 50, 211);
}
